<%= form_for(@vaccination) do |f| %>
  <% if @vaccination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vaccination.errors.count, "error") %> prohibited this vaccination from being saved:</h2>

      <ul>
      <% @vaccination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vaccine_id %><br />
    <%= collection_select(:vaccination, :vaccine_id, Vaccine.all, :id, :name) %>

  </div>
  <div class="field">
    <%= f.label :visit_id %><br />
    <%= collection_select(:vaccination, :visit_id, Visit.all, :id, :visit_date) %>

  </div>
  <div class="field">
    <%= f.label :dosage %><br />
    <%= f.text_field :dosage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
