   <%= link_to(image_tag("petowner.jpg"), root_path) %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.firstname %>, <%= @owner.lastname %>
</p>

<p>
  <b>Address:</b>
  <%= @owner.address %>
</p>

<p>
  <b>Location:</b>
  <%= @owner.city %>, <%= @owner.country %>
</p>

<p>
  <b>Email:</b>
  <%= @owner.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @owner.phone %>
</p>

<p>
  <b>Active with QATS:</b>
  <%= @owner.active %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>

