<h1>Listing Pets</h1>
<%= link_to(image_tag("pet_index.jpg"), root_path) %>
<table id="Pet List">
  <tr>
    <th>Name</th>
    <th>Female</th>
    <th>Date of birth</th>
    <th>Active</th>
    <th>Owner</th>
    <th>Animal</th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.female %></td>
    <td><%= pet.date_of_birth %></td>
    <td><%= pet.active %></td>
    <td><%= pet.owner_id %></td>
    <td><%= pet.animal_id %></td>
    <td><%= link_to 'Show', pet %></td>
    <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
    <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Pet', new_pet_path %>
